/* =============
    Contact
============= */
#contact {
    background: $midnight;
    display: grid;
    @include section-padding;
    display: grid;
    grid-template-areas:
    ". form .";
    grid-template-columns: 20% 60% 20%;

    @include md{
        grid-template-columns: 30% 40% 30%;
    }

    @include lg{
        grid-template-columns: 35% 30% 35%;
    }


    > div {
        grid-area: form;

        h1 {
            padding: 48px 0px 16px;
            color: $light;
        }

        form {
            padding: 0px;

            input,textarea {
                background-color: $black;
                border: none;
                border-bottom: 4px solid $agua;
                color: $light;
                display: block;
                font-family: 'Poppins', sans-serif;
                font-weight: 400;
                margin: 16px 0;
                outline: none;
                padding: 16px 8px;
                width: 100%;
            }
        }
    }
}
