/* =============
    Events
============= */
#events{
    @include section-padding;
    background-color: $midnight;
    display: grid;
    margin: 0 auto;
    padding: 40px 24px 80px 24px;

    @include sm{
        grid-template-areas:
        "events"
        "events1"
        "events2"
        "events3";
        grid-template-rows: repeat(4, auto);

    }

    @include md{
        grid-template-areas:
        "events events1"
        "events2 events3";
        grid-template-rows: repeat(2, auto);
        grid-template-columns: 50% 50%;
    }

    @include lg{
        grid-template-areas:
        ". events events1 events2 events3 .";
        grid-template-columns: repeat(6, auto);
        grid-template-rows: repeat(1, auto);
        padding: 0 24px;
    }

    h2{
        color: $light;
        padding-top: 80px;
        padding-left: 24px;

        span{
            color: $agua;
        }
    }

    >div{
        button{
            position: relative;
            top: 24px;
        }
    }

    >div:nth-child(1){
        grid-area: 'events';
        height: 312px;
    }

    >div:nth-child(2){
        grid-area: 'events1';
        background-color: $tree;
        padding: 24px 24px 0px;
        margin: 24px 24px 56px;
        @include shadow-style-dark;
    }

    >div:nth-child(3){
        grid-area: 'events2';
        background-color: $sun;
        padding: 24px 24px 0px;
        margin: 24px 24px 56px;
    }

    >div:nth-child(4){
        grid-area: 'events3';
        background-color: $orange;
        padding: 24px 24px 0px;
        margin: 24px 24px 56px;
    }


    div{
        div{
        @include event-size;
        }
    }

}
