/* =============
    FAQ
============= */
#faq {
    @include section-padding;
    display: grid;
    grid-template-areas:
    "faq ."
    "questions questions"
    "faqimg faqimg";
    grid-template-rows: repeat(2, auto);
    grid-template-columns: 70% 30%;
    grid-gap: 0;


    @include md{
        grid-template-areas:
        ". . faq faq"
        ". questions . ."
        "faqimg faqimg faqimg faqimg";
        grid-template-columns: 10% 50% 30% 10%;
        grid-template-rows: repeat(3, auto);
    }

    @include lg{
        grid-template-areas:
        "faq . ."
        "faq questions ."
        "faq questions ."
        "faqimg faqimg faqimg";
        grid-template-columns: 20% 70% 10%;
        grid-template-rows: repeat(4, auto);
    }

    @include lg{
        grid-template-columns: 40% 50% 10%;
    }

    @include xl{
        grid-template-areas:
        ". faq . . ."
        ". faq questions . ."
        ". faq questions . ."
        ". faqimg faqimg faqimg .";
        grid-template-columns: auto 400px 800px 240px auto;
        grid-template-rows: repeat(4, auto);
    }



    h2{
        color: $black;
        text-align: right;
        span{
            color: $light;
        }
    }
    > div:nth-child(1) {
        @include green-gradient;
        grid-area: faq;
        padding: 32px 24px 40px 24px;

        @include lg{
            margin: 160px 16px 160px 0px;
            padding: 80px 24px 24px;
        }
    }

    > div:nth-child(2) {
        grid-area: questions;
        padding: 16px;

        ul {
            li {
                padding: 24px 8px 32px;
            }

            h3 {
                padding-bottom: 8px;
            }
        }

        a {
            color: $agua;
            text-decoration: underline;
            text-decoration-color: $agua;

            &:hover {
                color: $orange;
                text-decoration: underline;
                text-decoration-color: $orange;
            }
        }


        div {
            display: flex;
            // padding: 16px;

            div:nth-child(1),
            div:nth-child(4) {
                background-color: $sun;
                @include colored-circles;
            }

            div:nth-child(2),
            div:nth-child(5) {
                background-color: $tree;
                @include colored-circles;
            }

            div:nth-child(3),
            div:nth-child(6) {
                background-color: $agua;
                @include colored-circles;
            }
        }
    }

    > div:nth-child(3) {
        background-image: url("../img/faq/green-hill.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center right;
        display: flex;
        height: 457px;
        width: 100%;
    }
}
