/* =============
    Hero
============= */
#hero{
    display: grid;
    grid-template-areas:
    "heroimg"
    "herotext";
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, auto);

    @include md{
        grid-template-areas:
        "herotext heroimg";
        grid-template-columns: 40% 60%;
        grid-template-rows: repeat(1, auto);
    }

    @include lg{
        grid-template-columns: 30% 70%;
        grid-template-rows: repeat(1, auto);
    }



    >div:nth-child(1){
        grid-area: heroimg;
        // background-image: url('../img/hero/hero.jpg');
        background-size: cover;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        display: flex;

        @include sm{
            height: 280px;
        }
        @include md{
            height: 520px;
        }
        @include lg{
            height: 740px;
        }
        @include xl{
            height: 800px;
        }
    }


    >div:nth-child(2){
        grid-area: herotext;
        padding: 40px 24px;
        @include green-gradient;

        @include sm{
            height: 200px;
        }
        @include md{
            height: 480px;
        }
        @include lg{
            height: 640px;
        }
        @include xl{
            height: 720px;
        }
    }
}

#trailsvg{
    z-index: 3;
    position: relative;
    width: 100%;
    top: -120px;
}
