/* =============
    Plan
============= */
#plan {
    margin: 0 auto;
    background: $midnight;
    padding: 40px 0px 80px 0px;

    h2 {
        padding-left: 24px;
        padding-bottom: 40px;
        color: $off-white;
        span {
            color: $agua;
        }
    }

    h3{
        color: $black;
        font-family: 'DM Serif Text', serif;
        font-size: rem-calc(32);
        line-height: rem-calc(32);
        padding-left: 24px;
    }


    div:nth-child(2) {
        display: grid;
        grid-template-areas:
        "hike"
        "bike"
        "run";
        grid-template-rows: repeat(3, auto);

        @include md{
            grid-template-areas:
            "hike ."
            "hike run"
            "bike run"
            "bike .";
            grid-gap: 24px;
        }

        @include lg{
            grid-template-areas:
            ". bike"
            "hike bike"
            "hike run"
            ". run";
            grid-gap: 64px;
        }

        @include xl{
            grid-template-areas:
            "hike run bike";
            grid-gap: 56px;
        }

        aside {
            margin-top: 40px;
            padding-bottom: 80px;
            @include sm{
                padding-left: 16px;
            }

            @include md{
                padding: 0px;
            }

            > div:nth-child(2) {
                h3 {
                    color: $light;
                }

                p {
                    color: $white;
                    border-left: 8px solid $agua;
                    margin-top: 24px;
                    padding-left: 16px;
                    padding-right: 24px;
                    @include lg{
                        padding-right: 0px;
                    }
                }

                span {
                    background-color: $sun;
                }
            }
        }

        aside:nth-child(1) {
            grid-area: hike;
            div:nth-child(1) {
                background-image: url("../img/plan/hike.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                display: flex;
                height: 280px;
                width: 100%;
                margin-bottom: 40px;
            }
        }

        aside:nth-child(2) {
            grid-area: bike;
            div:nth-child(1) {
                background-image: url("../img/plan/bike.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                display: flex;
                height: 280px;
                width: 100%;
                margin-bottom: 40px;
            }
        }

        aside:nth-child(3) {
            grid-area: run;
            div:nth-child(1) {
                background-image: url("../img/plan/run.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: top center;
                display: flex;
                height: 280px;
                width: 100%;
                margin-bottom: 40px;
                @include xl{
                    background-position: center 80px;
                }
            }
        }


    }
}
