/* =============
    Plan
============= */
#plan {
    margin: 0 auto;
    background: $agua;
    // background-image: url('../img/hero/papyrus.png');
    @include section-padding;

    h2 {
        @include header-padding;
        color: $black;
        span {
            color: $off-white;
        }
    }

    h3{
        color: $off-white;
        font-family: 'DM Serif Text', serif;
        font-size: rem-calc(32);
        line-height: rem-calc(32);
        padding-left: 24px;
    }

    >div {
        display: grid;
        grid-template-areas:
        "plantop"
        "hike"
        "bike"
        "run";
        grid-template-rows: repeat(3, auto);

        @include md{
            grid-template-areas:
            ". plantop . ."
            ". hike . ."
            ". hike run ."
            ". bike run ."
            ". bike . .";
            grid-template-columns: auto 40% 40% auto;
            grid-gap: 40px;
        }

        @include lg{
            grid-template-areas:
            ". bike"
            "plantop bike"
            "hike bike"
            "hike run"
            ". run";
            grid-template-columns: 50% 50%;
            grid-gap: 0px;
        }

        @include xl{
            grid-template-areas:
            ". hike plantop bike ."
            ". hike run bike .";
            grid-template-columns: auto 400px 320px 400px auto;
            grid-template-rows: 10% 90%;
            grid-gap: 0 40px;
        }



        aside {
            margin-top: 40px;
            padding-bottom: 80px;

            > div:nth-child(2) {
                border-left: 8px solid $light;
                h3 {
                    color: $off-white;
                }

                p {
                    color: $black;
                    // border-right: 8px solid $light;
                    margin-top: 16px;
                    padding-left: 24px;
                    padding-right: 24px;
                }

                span {
                    background-color: $sun;
                }
            }
        }

        aside:nth-child(1){
            grid-area: plantop;
        }

        aside:nth-child(2) {
            grid-area: hike;
            div:nth-child(1) {
                background-image: url("../img/plan/hike.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                display: flex;
                height: 280px;
                width: 100%;
                margin-bottom: 40px;
                @include xl{
                    height: 400px;
                }
            }
        }

        aside:nth-child(3) {
            grid-area: bike;
            div:nth-child(1) {
                background-image: url("../img/plan/bike.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                display: flex;
                height: 280px;
                width: 100%;
                margin-bottom: 40px;
                @include xl{
                    height: 400px;
                }
            }
        }

        aside:nth-child(4) {
            grid-area: run;
            div:nth-child(1) {
                background-image: url("../img/plan/run.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: top center;
                display: flex;
                height: 280px;
                width: 100%;
                margin-bottom: 40px;
                @include xl{
                    background-position: center 80px;
                }
            }
        }
    }
}
