/* =============
    Trail
============= */

#trail{
    background-color: $white;
    display: grid;
    grid-template-areas:
    "trailtop"
    "forbidden"
    "whitetrail"
    "orangetrail"
    "yellowtrail";
    grid-template-rows: repeat(5, auto);
    grid-template-columns: repeat(1, auto);
    @include section-padding;

    @include md{
        grid-template-areas:
        ". trailtop forbidden ."
        ". orangetrail orangetrail ."
        ". whitetrail yellowtrail .";
        grid-template-columns: auto 40% 40% auto;
        grid-template-rows: repeat(3, auto);
    }

    @include lg{
        grid-template-areas:
        "forbidden trailtop"
        "whitetrail orangetrail"
        ". yellowtrail";
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
    }

    @include xl{
        grid-template-areas:
        ". forbidden whitetrail trailtop ."
        ". . orangetrail yellowtrail .";
        grid-template-columns: auto 320px 320px 320px auto;
        grid-template-rows: repeat(2, auto);
        grid-gap: 40px;
    }

    h2{
        @include header-padding;
        @include lg{
            padding: 0px;
            margin-top: 32px;
        }
        span{
            color: $agua;
        }
    }

    >div{
        >div{
            margin-bottom: 72px;
            padding-left: 16px;
            h3{
                font-family: 'DM Serif Text', serif;
                padding-bottom: 8px;
            }
            p{
                padding-bottom: 12px;
            }
            span{
                font-family: 'Poppins', sans-serif;
                font-size: rem-calc(18);
            }
        }
    }

    >div:nth-child(1){
        grid-area: trailtop;
        div{
            @include header-padding;
        }
    }

    >div:nth-child(2){
        grid-area: forbidden;
        border-left: 8px solid $agua;
        span{
            background-color: $agua;
        }
    }

    >div:nth-child(3){
        grid-area: whitetrail;
        border-left: 8px solid $off-white;
        span{
            background-color: $off-white;
        }
    }

    >div:nth-child(4){
        grid-area: orangetrail;
        border-left: 8px solid $orange;
        span{
            background-color: $orange;
        }
    }

    >div:nth-child(5){
        grid-area: yellowtrail;
        border-left: 8px solid $sun;
        span{
            background-color: $sun;
        }
    }

    // aside{
    //     height: 160px;
    //     background-image: url('../img/hills/green-hill.png');
    //     background-size: cover;
    //     width: 100%;
    //     background-repeat: no-repeat;
    //     background-position: center;
    //     display: flex;
    //     @include sm{
    //         height: 240px;
    //         background-position: -220px center;
    //     }
    //     @include md{
    //         height: 320px;
    //         background-position: center;
    //     }
    // }

}
