/* =============
    Footer
============= */
footer{
    padding: 40px 0px 80px 0px;
    // background-image: url('../img/hills/footer.svg');
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background: $midnight;

    display: grid;
    grid-template-areas:
    ". footer .";
    grid-template-columns: 10% 80% 10%;

    @include md{
        grid-template-columns: 30% 40% 30%;
    }

    @include lg{
        grid-template-columns: auto 480px auto;
    }


    div{
        grid-area: footer;
        h1{
            color: $off-white;
            // text-decoration: underline;
            // text-decoration-color: $agua;
            font-family: 'DM Serif Text', serif;
            font-size: rem-calc(32);
            line-height: rem-calc(40);
            text-align: center;
            padding: 0px 0px 16px;
        }

        ul {
            display: flex;
            justify-content: center;

            li {
                padding: 16px 12px;

                a:link,
                a:visited {
                    color: $sun;
                    font-size: rem-calc(40);
                }

                a:active,
                a:hover {
                    color: $orange;
                }
            }
        }

        div{
            display: flex;
            justify-content: center;
        }

    }

}
