/* =============
    Thanks
============= */
#thanks{
    background-color: $off-white;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    h1{
        padding-bottom: 56px;
    }

}
