/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 498px;

// Small tablets (portrait view)
$screen-md-min: 789px;

// Tablets and small desktops
$screen-lg-min: 968px;

// Large tablets and desktops
$screen-xl-min: 1210px;

// Colors
$white: #fff;
$off-white: #FCF4DA;
$black: #000;
$light: #D5F8FF;
$orange: #F5A623;
$agua: #4BC1B4;
$tree: #94C83D;
$sun: #F5DA4C;
$mud: #8B5B46;
$midnight: #4A4A4A;


// gradients
// background: linear-gradient(45deg, $agua 0%, $tree 100%);
// background: linear-gradient(60deg, $midnight 0%, $black 100%);
// background: linear-gradient(270deg, $light 0%, $sun 100%);
